<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application>
        <activity
            android:launchMode="singleInstance"
            android:name=".LogActivity"
            />
        <service
            android:name=".LogNotificationsService"
            android:exported="false"
            android:label="@string/app_name"
            android:foregroundServiceType="mediaPlayback"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:stopWithTask="false" />
    </application>
</manifest>